@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(0, 0%, 100%);
    --foreground: hsl(214, 24%, 11%);

    --card: hsl(0 0% 100%);
    --card-foreground: hsl(214, 24%, 11%);

    --popover: hsl(0, 0%, 100%);
    --popover-foreground: hsl(214, 24%, 11%);

    --primary: hsl(159.9, 100%, 32.7%);
    --primary-foreground: hsl(142.2, 60%, 91.2%);

    --secondary: hsl(39.5, 100%, 92%);
    --secondary-foreground: hsl(36.1, 100%, 35.9%);

    --muted: hsl(210, 40%, 96.1%);
    --muted-foreground: hsl(215.4, 16.3%, 46.9%);

    --accent: hsl(210, 40%, 96.1%);
    --accent-foreground: hsl(222.2, 47.4%, 11.2%);

    --destructive: hsl(0, 84.2%, 60.2%);
    --destructive-foreground: hsl(210, 40%, 98%);

    --border: hsl(167, 32%, 91%);
    --input: hsl(162, 78%, 28%);
    --ring: hsl(135, 75%, 46%);

    --radius: 0.5rem;

    --hovered: hsl(210, 12.5%, 96.9%);
    --active: hsl(161.5, 48.1%, 94.7%);
    --active-hovered: hsl(160, 49.1%, 89.2%);
    --scroll-bar: hsl(208, 11.1%, 73.5%);
  }

  .dark {
    --background: hsl(214.3, 24.1%, 11.4%);
    --foreground: hsl(206, 22%, 68%);

    --card: hsl(211, 24%, 17%);
    --card-foreground: hsl(210, 40%, 98%);

    --popover: hsl(214, 24%, 11%);
    --popover-foreground: hsl(210, 40%, 98%);

    --primary: hsl(159.9, 100%, 32.7%);
    --primary-foreground: hsl(142.2, 60%, 91.2%);

    --secondary: hsl(40.2, 100%, 50%);
    --secondary-foreground: hsl(211.4, 24.1%, 17.1%);

    --muted: hsl(217.2, 32.6%, 17.5%);
    --muted-foreground: hsl(215, 20.2%, 65.1%);

    --accent: hsl(217.2, 32.6%, 17.5%);
    --accent-foreground: hsl(210, 40%, 98%);

    --destructive: hsl(0, 62.8%, 30.6%);
    --destructive-foreground: hsl(210, 40%, 98%);

    --border: hsl(215, 13.8%, 34.1%);
    --input: hsl(162, 78%, 28%);
    --ring: hsl(135, 75%, 46%);

    --hovered: hsl(212, 19.5%, 15.1%);
    --active: hsl(188.2, 35.5%, 12.2%);
    --active-hovered: hsl(176.3, 47.1%, 13.3%);
    --scroll-bar: hsl(208.7, 16.5%, 27.3%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--scroll-bar);
}

.lock {
  overflow-y: scroll !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
